* {
    padding: 0;
    margin: 0;
}

/* .display_device {
    margin: 0 auto;
} */

.dashboards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: beige;
    width: 100vw;
    max-width: 768px;
    min-height: 50vh;
}

.message {
    background: rgb(211, 211, 211);
    color: black;
    display: block;
    padding: 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 25px;
    margin: 10px;
}

.auhtor_name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    display: block;
    text-align: end;
}

.auhtor_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
    display: block;
}

.time_message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    display: block;
    text-align: end;
}

.keyboard_block {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: 10px;
}

.keyboard_window {
    display: block;
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 25px 0 0 25px;
    text-align: start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 70vw;
    padding-left: 10px;
}

.keyboard_btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 25px 25px 0;
    color: black;
    width: 100px;
    padding-right: 10px;
}