* li {
    padding: 10px;
    list-style-type: none;
}

div#root {
    margin: 0 auto;
    max-width: 768px;
    height: 80vw;
    background-color: beige;
}

div.App {
    max-width: 768px;
}

.menu {
    display: flex;
    background-color: white;
}

.menu li {
    padding: 10px;
    list-style-type: none;
}